

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('/yoga.jpg');
  background-size: cover; 
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/banner.jpg');
  background-size: cover; 
  filter: blur(5px); 
  z-index: -1; 
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-size: 3rem;
  font-weight: bold; 
  color: #010000;
  position: absolute;
  top: 100px;

  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.link {
  display: inline-block;
  margin: 0.5rem 0;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #703565;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s; 
}

.link:hover {
  background-color: #050d14;
  transform: translateY(-2px);
}

.link:active {
  transform: translateY(0);
}

@media (max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }

  .link {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 200px;
}

.subtitle {
  font-size: 30px;
  margin-bottom: 40px;
  position: absolute;
  top: 180px;
  opacity: 0.8;
  font-weight: bold;
}
.button{
  background-color: black;
  position: absolute;
  top: 250px;
  width: 150px;
  border-radius: 20px;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  border-radius: 200px;
}

.card:hover {
  transform: translateY(-5px);
  color: #f0f4f8;
  background-color: #623b2f;
}
